ircserver: "irc.quakenet.org"
nickname: "MrsIna"
auth:
	name: "mrsina"
	pass: process.env.AUTH_PASSWORD
topic: "TDM MIX today ~18-20CET."
players:
	red: []
	blue: []
	green: []
	yellow: []
	queue: []
channels: []
maps: [
	"campgrounds"
	"retribution"
	"deepinside"
	"intervention"
	"dreadfullplace"
	"limbus"
	"arcanecitadel"
	"hiddenfortress"
	"purgatory"
	"grimdungeons"
	"realmofsteelrats"
	"terminatria"
	"tornado"
]
server: ""

